<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudoffice.mapper.TSysMsgContentMapper">

    <resultMap id="BaseResultMap" type="com.cloudoffice.pojo.TSysMsgContent">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="message" property="message" />
        <result column="createDate" property="createDate" />
    </resultMap>

    <sql id="Base_Column_List">
        id, title, message, createDate
    </sql>

</mapper>
